body {
    background: #DDDDDD;
    text-align: center;
}

.navbar {
    background-color: #D2B48C;
    color: white;
}

.page-container {
    margin-top: 75px;
    display: block;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #D2B48C;
    color: white;
    z-index: 999;
}

#fab:active {
    transform: translateY(2px);
    opacity: .8;
}


#listPage {
    display: flex;
    flex-direction: row;
}

#listPageContainer{
    display: none;
}

#columns {
    column-count: 3;
    column-gap: 5px;
}

@media (min-width: 992px) {
    #columns {
        column-count: 4;
        column-gap: 10px;
    }
}




.pin {
    display: inline-block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    background: linear-gradient(45deg, #FFF, #EEE);
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    max-height: 18px;
    overflow: hidden;
}

.dropdown-menu.dropdown-menu-right,
.dropdown-menu[x-placement=bottom-end] {
    left: -130px;
}




.bmd-layout-content {
    height: 100vh;
    /* width: 50000vh; */
}

.bmd-layout-drawer>header {
    background-color: #D2B48C;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.top {
    text-align: center;
    margin-top: 8vh;
}


#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#div1{
    width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

#menuClothingType{
    border: black;
    border-width: 10px;
}

#div2,
#div3,
#div4,
#div5 {
    width: auto;
    height: auto;
    /* width: 350px;
    height: 70px; */
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

h3 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10%;
}